# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:<b>
* List popular languages for Data Science
* List popular packages for Data Science
* List popular tools for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scikit-learn
4. Matplotlib
5. Seaborn

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|R Studio|
|Github|

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
(3*4)+5

17

In [15]:
#This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes/60
hours

3.3333333333333335